$bgnav: #241C2B;
$section: #495670;

header.team {
	background-image: url(../img/team.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	height: 90vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;

	.containerteam {
		bottom: 0;
		width: 20vw;
		margin: 3%;
		z-index: 1;
		background-color: white;
		border-radius: 50px;
		opacity: 0.95;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	}

	img {
		width: 100%;
	}

	
	p {
		font-size: 1.5em;
		padding: 5%;
	}

}


section.bannerteam {
	margin: 10vh;
	text-align: center;
	height: 10vh;
	
	h1 {
		font-size: 3em;
		text-align: center;
		border: none;
	}
	
	button {
		padding:0.5em 1.5em;
		border:0.16em solid $bgnav;
		background-color: $bgnav;
		color: white;
		text-align:center;
		transition: all 0.2s;
		border-radius:2em;
	}

	button:hover {
			border-color: $bgnav;
			cursor: pointer;
			transform: scale(0.9);
		}
}

@media (max-device-width: 480px) {
  header.team {
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;

	.containerteam {
	width: 80vw;
	}
	}
}

